.Blog {
  padding: 40px 0;
  // background-color: #f5f5f5;

  .title1 {
    font-family: "Fredoka One", cursive;
    position: relative;
    padding: 0px 0 10px;
    margin-bottom: 10px;
    &::after {
      content: "";
      background-repeat: repeat;
      background-image: url(https://cdn.shopify.com/s/files/1/0912/1746/files/leo-gopet-before-title.png?v=1635386934);
      bottom: 0px;
      left: 46%;
      width: 100px;
      position: absolute;
      display: inline-block;
      height: 6px;
    }
  }
  .container {
    max-width: 90%;
  }
  .box-content {
    margin: 25px 0;
    padding: 0 0 50px;
    border-radius: 20px;
    background-color: #f5f5f5;
    position: relative;

    .bg-img {
      cursor: pointer;
      width: 100%;
      height: 250px;
      transition: all 0.3s ease-in;
      text-align: center;
      overflow: hidden;
      border-radius: 20px;
      &:hover {
        img {
          border-radius: 20px;

          height: auto;
          width: 106%;
        }
      }
      img {
        border-radius: 20px;
        width: 100%;
        height: auto;
        transition: all 0.4s ease-out;
      }
    }

    .content {
      padding: 15px;
      .buttons {
        margin: 10px 0;
        button {
          font-size: 14px;
          color: rgb(7, 5, 5);
          font-weight: 500;
          margin: 3px 5px;
          border: none;
          border-radius: 5px;
          padding: 3px 6px;
          transition: all 0.3s ease-out;
          background-color: rgb(212, 212, 212);
          i{
            margin-right: 5px;
          }
          &:hover {
            color: #e49c30;
          }
        }
      }
      .title {
        font-weight: 800;
        font-size: 23px;
        font-family: "Nunito", sans-serif;
      }
      .button-read-me {
        border: none;
        background-color: #ffc800;
        // background-color: #ed6436;
        padding: 10px 25px;
        border-radius: 15px;
        font-size: 15px;
        font-family: "Nunito", sans-serif;
        font-weight: bolder;
        position: absolute;
        left: 10%;
        bottom: -3%;
        transition: all 0.4s;
        &:hover {
          color: white;
        }
      }
    }
  }
}
