.carousel {
  .container {
    max-width: 98% !important;
  }
  .slide_Item {
    border-radius: 10px;
    padding: 25px 0 30px;
    position: relative;
    width: 100%;

    img {
      width: 100%;
      border-radius: 20px;
      height: 600px;
    }

    .text-content {
      position: absolute;
      top: 20%;
      left: 9%;
      width: 45%;
      text-align: left;
      .caption {
        font-size: 63px;
        font-family: "Nunito", sans-serif;
        font-weight: 800;
        letter-spacing: 0.5px;
        line-height: 70px;
        margin-bottom: 20px;
        color: black;
        animation-delay: 0.5s !important;
      }
      .desc {
        animation-delay: 2s;
        color: rgb(48, 47, 47);
        font-weight: 500;
        font-size: 24px;
        margin-bottom: 20px;
        animation-delay: 1s !important;
      }
      .button {
        button {
          animation-delay: .6s !important;
          color: white;
          font-weight: 600;
          border: none;
          padding: 10px 20px;
          background-color: #ff5e2d;
          border-radius: 15px;
          transition: all 0.3s ease-in;
          &:hover {
            background-color: #030101 !important;
          }
        }
      }
    }
  }
  .carousel-control-next,
  .carousel-control-prev {
    opacity: 1 !important;
  }
  .carousel-control-prev-icon {
    background-image: url(https://cdn.shopify.com/s/files/1/0912/1746/files/leo-gopet-slide-left.png?v=1636356057);
    background-repeat: no-repeat;
    width: 35px;
    height: 30px;
    position: relative;
    right: 30px;
    opacity: 1;
    &::before {
      content: "";
      position: absolute;
      top: -30%;
      left: -20%;
      z-index: -1;
      width: 50px;
      height: 50px;
      border-radius: 50%;
      background-color: #f85827;
    }
  }
  .carousel-control-next-icon {
    background-image: url(https://cdn.shopify.com/s/files/1/0912/1746/files/leo-gopet-slide-right.png?v=1636356057);
    background-repeat: no-repeat;
    width: 35px;
    height: 30px;
    position: relative;
    left: 20px;
    &::before {
      content: "";
      position: absolute;
      top: -30%;
      left: -20%;
      z-index: -1;
      width: 50px;
      height: 50px;
      border-radius: 50%;
      background-color: #f85827;
    }
  }

  .carousel-indicators {
    position: absolute;
    bottom: 30px;

    button {
      width:15px;
      height: 15px;
      border-radius: 50%;
      border: 3px solid  #f85827;
      background-color: white;
    }
  }

  .slick-prev {
    z-index: 387 !important;
    left: 20px;
  }
}

@media only screen and (max-width: 1200px) {
  .carousel {
    .container {
      max-width: 98% !important;
    }

    .slide_Item {
      padding: 20px 0 30px;
      position: relative;
      width: 100%;
      img {
        width: 100%;
        border-radius: 20px;
        height: 550px;
      }

      .text-content {
        position: absolute;
        top: 26%;
        left: 8%;
        width: 40%;
        text-align: left;
        .caption {
          // animation-delay: 1s;
          font-size: 46px;
          font-family: "Nunito", sans-serif;
          font-weight: 800;
          letter-spacing: 0.5px;
          line-height: 40px;
          margin-bottom: 15px;
        }
        .desc {
          animation-delay: 2s;
          color: rgb(48, 47, 47);
          font-weight: 500;
          font-size: 18px;
          margin-bottom: 15px;
        }
        .button {
          animation-delay: 1s;
          button {
            font-size: 16px;
            color: white;
            font-weight: 600;
            border: none;
            padding: 8px 15px;
            background-color: #f85827;
            border-radius: 15px;
          }
        }
      }
    }
    .carousel-indicators {
      position: absolute;
      bottom: 20px;
  
      button {
        width:15px;
        height: 15px;
        border-radius: 50%;
        background-color: #f85827;
      }
    }

    .carousel-control-next,
    .carousel-control-prev {
      opacity: 1 !important;
    }
    .carousel-control-prev-icon {
      width: 25px;
      height: 20px;
      position: relative;
      right: 30px;
      &::before {
        content: "";
        position: absolute;
        top: -50%;
        left: -20%;
        z-index: -1;
        width: 40px;
        height: 40px;
        
      }
    }
    .carousel-control-next-icon {
      width: 25px;
      height: 20px;
  
      &::before {
        content: "";
        position: absolute;
        top: -50%;
        left: -20%;
        width: 40px;
        height: 40px;
        
      }
    }

    .carousel-indicators {
      position: absolute;
      bottom: 30px;


      button {
        width: 13px;
        height: 13px;
        border-radius: 50%;
        background-color: #f85827;
      }
    }
  }
}

@media only screen and (max-width: 992px) {
  .carousel {
    .container {
      max-width: 98% !important;
    }

    .slide_Item {
      padding: 10px 0 0px !important;
      position: relative;
      width: 100%;
      img {
        width: 100%;
        border-radius: 20px;
        height: 500px;
      }

      .text-content {
        position: absolute;
        top: 26%;
        left: 8%;
        width: 40%;
        text-align: left;
        .caption {
          // animation-delay: 1s;
          font-size: 40px;
          font-family: "Nunito", sans-serif;
          font-weight: bolder !important;
          letter-spacing: 0.5px;
          line-height: 40px;
          margin-bottom: 15px;
        }
        .desc {
          animation-delay: 2s;
          color: rgb(48, 47, 47);
          font-weight: 500;
          font-size: 18px;
          margin-bottom: 15px;
        }
        .button {
          animation-delay: 1s;
          button {
            font-size: 14px;
            color: white;
            font-weight: 600;
            border: none;
            padding: 8px 15px;
            background-color: #ed6436;
            border-radius: 15px;
          }
        }
      }
    }

    .carousel-indicators {
      position: absolute;
      bottom: 30px;


      button {
        width: 12px;
        height: 12px;
        border-radius: 50%;
        background-color: #f85827;
      }
    }
  }
}

@media only screen and (max-width: 768px) {
  .carousel {
    .container {
      max-width: 98% !important;
    }

    .slide_Item {
      padding: 20px 0 30px;
      position: relative;
      width: 100%;
      
      img {
        width: 100%;
        border-radius: 20px;
        height: 300px;
      }

      .text-content {
        position: absolute;
        top: 18%;
        left: 10%;
        width: 50%;
        text-align: left;
        .caption {
          // animation-delay: 1s;
          font-size: 22px;
          font-family: "Nunito", sans-serif;
          font-weight: 800;
          letter-spacing: 0.5px;
          line-height: 30px;
          margin-bottom: 10px;
        }
        .desc {
          animation-delay: 2s;
          color: rgb(48, 47, 47);
          font-weight: 500;
          font-size: 14px;
          margin-bottom: 10px;
        }
        .button {
          animation-delay: 1s;
          button {
            font-size: 12px;
            color: white;
            font-weight: 600;
            border: none;
            padding: 6px 10px;
            background-color: #ed6436;
            border-radius: 15px;
          }
        }
        
      }

 

      
    }

    .carousel-indicators {
      position: absolute;
      bottom: 0px;
  
      button {
        width:15px;
        height: 15px;
        border-radius: 50%;
        background-color: #f85827;
      }
    }

    .carousel-control-prev-icon {
      width: 20px;
      height: 15px;
      position: relative;
      right: 10px;
      opacity: 1;
      &::before {
        content: "";
        position: absolute;
        top: -40%;
        left: -20%;
        z-index: -1;
        width: 30px;
        height: 30px;

      }
    }
    .carousel-control-next-icon {
      width: 20px;
      height: 15px;
      position: relative;
      left: 10px;
      &::before {
        content: "";
        position: absolute;
        top: -40%;
        left: -25%;
        z-index: -1;
        width: 30px;
        height: 30px;
        
      }
    }

  
  }
}
