.sectionProduct1 {
  background-color: #f6f6f6;
  padding: 30px 20px;
  text-align: center;
  .container{
    max-width: 95%;
  }
  .title {
    margin-bottom: 30px;
    position: relative;
    display: inline-block;
    .HeadingTitleIcon {
      position: absolute;
      bottom: 0px;
      left: -20px;
      width: 80px;
      height: 80px;
      transform: rotate(20deg);
      // transform: skew(60deg);
    }
    h1 {
      font-family: "Pacifico", cursive;
      font-weight: 500;
      font-size: 36px;
      z-index: 1;
      position: relative;
      margin: 15px 0;
      span {
        color: #ff6739;
      }
      &:nth-child(2) {
        font-family: "Nunito", sans-serif;
      }
    }
  }

  .card {
    border: none;
    background-color: #f6f6f6;
   
    .card-content {
      text-align: center;
      margin: 20px 0;
      padding: 20px;
      border: 3px solid #eee2de;
      box-shadow: 3px 2px 3px 3px rgba(202, 194, 194, 0.776);
      background-color: white;
      border-radius: 10px;
      transition: transform .4s;
      position: relative;
      cursor: pointer;
      &:hover {
        border: 4px solid #fc950a !important;
        transform: scale(1);
        .img-content {
          .hover-img {
            display: block;
            transition: all 0.6s ease-in-out;
            transform: translateX(-100%);
          }
        }
        .title-h5 {
          color: #ed6436 !important;
        }
        .price {
          color: #ed6436 !important;
        }
        .hover-icons {
          display: block !important;
        }
      }

      .new {
        color: white;
        background-color: #ed6436;
        padding: 5px 10px;
        font-size: 9px;
        font-weight: 600;
        position: absolute;
        top: 4%;
        right: 10%;
        border-radius: 5px;
      }
      .hover-icons {
        position: absolute;
        top: 30%;
        right: 12%;
        display: flex;
        flex-direction: column;
        display: none;
        transition: all 0.2s ease-in-out;
        a {
          border: none;
          box-shadow: 3px 2px 3px 3px rgba(202, 194, 194, 0.776);
          background-color: white;
          text-decoration: none;
          color: black;
          padding: 5px;
          margin: 3px 0;
          display: flex;
          align-items: center;
          justify-content: center;
          border-radius: 7px;
          transition: all 0.2s ease-in-out;
          i {
            color: rgb(92, 89, 89);
          }
          &:hover {
            background-color: #ed6436;
            i {
              color: white;
            }
          }
        }
      }

      .img-content {
        position: relative;
        width: 100%;
        text-align: center;

        .main-img {
          display: block;
          width: 100%;
        }
        .hover-img {
          width: 100%;
          position: absolute;
          transition: all 0.9s ease-in-out;
          top: 0;
          bottom: 0;
          left: 100%;
          display: none;
        }
      }

      .card-body {
        .comments_note {
          .star_content {
            display: flex;
            justify-content: center;
            margin-bottom: 10px;
            .star {
              &:nth-child(1) {
                color: #fc950a;
              }
              &:nth-child(2) {
                color: #fc950a;
              }
              &:nth-child(3) {
                color: #fc950a;
              }
            }
          }
        }
        .card-title {
          height: 35px;
          transition: all 0.2s ease-in-out;
          color: rgb(85, 78, 78);
          margin: 0;
        }
        .price {
          transition: all 0.2s ease-in-out;
          font-size: 20px;
          font-weight: 500;
          color: #240807;
          margin: 0;
        }
        .btn.addtocard {
          margin-top: 10px;
          font-size: 14px;
          font-family: "Nunito", sans-serif;
          // background-color: #fc950a;
          background-color: #ff6739;
          color: white;
          font-weight: 700;
          padding: 10px 15px;
          border-radius: 15px;
          transition: all 0.2s ease-in-out;
          &:hover {
            color: black;
          }
        }
      }
    }
  }

  .show {
    margin: 20px 0 0;
    display: block;
    button {
      font-size: 14px;
      font-family: "Nunito", sans-serif;
      background-color: #ff6739;
      color: white;
      font-weight: 700;
      padding: 15px 25px;
      border-radius: 15px;
      transition: all 0.3s ease-out;
     border: none;
      &:hover {
        background-color: black;
        color: white;
      }
    }
  }
}

@media only screen and (max-width: 768px) {
  .sectionProduct1 {
    padding: 80px 0px;
    .container{
      max-width: 90%;
    }
    .card-title {
      font-size: 18px;
    }
    .card {
     padding: 0 10px !important;
      
    }
  }
}
@media only screen and (max-width: 576px) {
  .sectionProduct1 {
    padding: 80px 0px;
    .container{
      max-width: 90%;
    }
    .card-title {
      font-size: 18px;
    }
    .card {
     padding: 0 50px !important;
      
    }
  }
}
