@import "Header";
@import "./Home_Style/Section1";
@import "./Home_Style/Carousel";
@import "./Home_Style/Section2";
@import "./Home_Style/Section3";
@import "./Home_Style//Product2";
@import "./Home_Style/Secton4";
@import "./Home_Style/ProductSection";
@import "./Home_Style/SectionEnd";
@import "./Blog_Style//Section1";
@import "./Page";
@import "./Contact";    
@import "./Cart";
@import "./Checkout";
@import "./CardDetails";
@import "./CheckoutEnd";
@import "./CheckoutEnd";
@import "Footer";
@import "./Product_Details";
@import "./Shop_Style/TabProduct";
@import "./App";
@import "./SignUp";
@import "./SignIn";
@import "./Home_Style/PopularBrends";
@import "./dark";
@import "./CartSubmenu";
@import "./About_Style/Section1";
@import "./About_Style/Section2";
html{
    scroll-behavior: smooth;
}



.styles_scroll-to-top__2A70v {
    background-color: #FF6739 !important;
    color: white !important;
}



